body {
    background-color: rgb(33, 33, 33);
    font-family: Arial, sans-serif;
    color: rgb(255, 196, 196);
    margin: 0;
    padding: 0;
}

h1 {
    color: rgb(255, 188, 188);
    text-align: center;
    margin-top: 20px;
}

p {
    text-align: center;
    font-size: 18px;
}

button {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
    background-color: rgb(255, 187, 187);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    cursor-pointer;    
}
button:hover {
    background-color: rgb(255, 129, 129);
}
